<template>
  <div>
    <b-container>
      <b-row>
        <b-col>
          <b-form-input v-model="title" placeholder="Title"></b-form-input>
        </b-col>
      </b-row><br>
      <b-row>
        <b-col>
            <b-form-textarea
            id="Content"
            v-model="content"
            placeholder="Enter something..."
            rows="3"
            max-rows="6"
          ></b-form-textarea>
        </b-col>
      </b-row><br>
      <b-row>
        <b-col>
          <label for="StartDate">วันเริ่มต้น</label>
          <b-form-datepicker
            id="startDate"
            v-model="startDate"
            class="mb-2"
          ></b-form-datepicker
        ></b-col>
        <b-col>
          <label for="EndDate">วันสิ้นสุด</label
          ><b-form-datepicker
            id="endDate"
            v-model="endDate"
            class="mb-2"
          ></b-form-datepicker
        ></b-col>
      </b-row>
      <b-row>
        <b-col>
          <label for="StartTime">เวลาเริ่มต้น</label>
          <b-form-timepicker
            id="startTime"
            v-model="startTime"
            locale="en"
          ></b-form-timepicker>
        </b-col>
        <b-col>
          <label for="EndtTime">เวลาสิ้นสุด</label>
          <b-form-timepicker
            id="endTime"
            v-model="endTime"
            locale="en"
          ></b-form-timepicker
        ></b-col>
      </b-row><br>
      <b-button style="background-color: green;" @click="addEvent()">Add</b-button>
    </b-container><br>

    <vue-cal style="height: 1000px" :locale="th" :events="events" @ready='ready($event)' @view-change='viewChange($event)' />
  </div>
</template>
<script>
import VueCal from 'vue-cal'
import 'vue-cal/dist/vuecal.css'
import th from '../locale/th'
import { api } from '../services/api'
export default {
  async mounted () {
    const event = await api.get('./services')
    console.log(event)
  },
  data () {
    return {
      startDate: '',
      endDate: '',
      startTime: '',
      endTime: '',
      title: '',
      content: '',
      events: [
        {
          start: '2022-06-25 10:00',
          end: '2022-06-25 14:00',
          title: 'เช่าหนังสือ',
          content: 'การอ่าน',
          class: 'time'
        }
      ]
    }
  },
  methods: {
    addEvent () {
      const event = {
        start: new Date(this.startDate + ' ' + this.startTime),
        end: new Date(this.endDate + ' ' + this.endTime),
        title: this.title,
        content: this.content,
        class: 'time'
      }
      console.log(event)
      this.events.push(event)
    },
    async ready (e) {
      console.log('ready', e)
      const res = await api.get('/event', { params: { startDate: e.startDate, endDate: e.endDate } })
      console.log(res)
      // const newEvent = []
      // for (let i = 0; i < res.data.length; i++) {
      //  const event = res.data[i]
      //  newEvent.push({
      //    start: new Date(event.startDate),
      //    end: new Date(event.endDate),
      //    title: event.title,
      //    content: event.content,
      //    class: event.class
      //  })
      // }
      const newEvent = res.data.map(function (event) {
        return {
          start: new Date(event.startDate),
          end: new Date(event.endDate),
          title: event.title,
          content: event.content,
          class: event.class
        }
      })
      this.event = newEvent
    },
    async viewChange (e) {
      console.log('view-change', e)
      const res = await api.get('/event', { params: { startDate: e.startDate, endDate: e.endDate } })
      console.log(res)
      const newEvent = res.data.map(function (event) {
        return {
          start: new Date(event.startDate),
          end: new Date(event.endDate),
          title: event.title,
          content: event.content,
          class: event.class
        }
      })
      this.event = newEvent
    }
  },
  computed: {
    th () {
      return th
    }
  },
  components: {
    VueCal
  }

}
</script>
<style>
.vuecal__now-line {
  color: rgb(255, 6, 6);
}
.vuecal__event.time {
  background-color: rgba(253, 156, 66, 0.9);
  border: 1px solid rgb(233, 136, 46);
  color: #fff;
}
</style>
