<template>
  <b-container>
    <b-row align-h="center">
      <b-col cols="3">
        <b-card
          title="Reset Password"
          img-src="https://ezzyservice.com/img/forgot.png"
          img-alt="Image"
          img-top
          tag="article"
          style="max-width: 20rem"
          class="mb-2"
        >
          <b-card-text>
            <div style="text-align: justify">
              <b-form @submit="onSubmit" @reset="onReset" v-if="show">

                <b-form-group
                  id="input-group-3"
                  label="Email:"
                  label-for="input-3"
                >
                  <b-form-input
                    id="input-3"
                    v-model="form.email"
                    type="email"
                    placeholder=""
                    required
                  ></b-form-input>
                </b-form-group>

                <b-form-group
                  id="input-group-5"
                  label="New Password:"
                  label-for="input-5"
                >
                  <b-form-input
                    id="input-5"
                    v-model="form.password"
                    type="password"
                    placeholder=""
                    required
                  ></b-form-input>
                </b-form-group>

                <b-form-group
                  id="input-group-6"
                  label="Confirmed Password:"
                  label-for="input-6"
                >
                  <b-form-input
                    id="input-6"
                    v-model="form.cfpassword"
                    type="password"
                    placeholder=""
                    required
                  ></b-form-input>
                </b-form-group>

                <br>

                <b-button type="submit" variant="primary" class="mx-2"
                  >Save</b-button
                >
                <b-button type="reset" variant="danger">Reset</b-button>
              </b-form>
            </div>
          </b-card-text>
        </b-card>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>

export default {
  data () {
    return {
      form: {
        email: '',
        password: '',
        cfpassword: ''

      },

      show: true
    }
  },
  methods: {
    onSubmit (event) {
      event.preventDefault()
      alert(JSON.stringify(this.form))
      this.form.email = ''
      this.form.password = ''
      this.form.cfpassword = ''
    },
    onReset (event) {
      event.preventDefault()
      // Reset our form values
      this.form.email = ''
      this.form.password = ''
      this.form.cfpassword = ''

      // Trick to reset/clear native browser form validation state
      this.show = false
      this.$nextTick(() => {
        this.show = true
      })
    }
  }
}
</script>
