<template>
  <div >
    <b-container fluid>
      <b-row>
        <b-col cols="5">
          <div >เลือกห้อง</div>
          <b-form-select
            v-model="selected"
            :options="options"
            style="width: 200px"
          ></b-form-select>
          <div class="my-3 ml-3">
            Selected: <strong>{{ selected }}</strong>
          </div>
        </b-col>
        <b-col cols="5">
          <div>เลือกประเภทห้อง</div>
          <!--  -->
          <b-form-select
            v-model="selected2"
            :options="options2"
            style="width: 200px"
          ></b-form-select>
          <div class="my-3 ml-3">
            Selected: <strong>{{ selected2 }}</strong>
          </div>
        </b-col>
      </b-row>
    </b-container>
    <!--  -->
    <b-container fluid>
      <b-row>
        <b-col cols="5">
          <div>เวลาเริ่มต้น</div>
          <b-form-select
            v-model="selected3"
            :options="options3"
            style="width: 200px"
          ></b-form-select>
          <div class="my-3 ml-3">
            Selected: <strong>{{ selected3 }}</strong>
          </div>
        </b-col>
        <b-col cols="5">
           <div>เวลาสิ้นสุด</div>
          <!--  -->
          <b-form-select
            v-model="selected4"
            :options="options4"
            style="width: 200px"
          ></b-form-select>
          <div class="my-3 ml-3">
            Selected: <strong>{{ selected4 }}</strong>
          </div>
        </b-col>
      </b-row>
    </b-container>
    <!--  -->
    <b-container fluid>
      <b-row>
        <b-col cols="5"> </b-col>
      </b-row>
    </b-container>
    <b-container fluid>
      <b-row>
        <b-col cols="5" class="ms-auto" align-self="end">
          <div class="m-3 ml-3">
            <div class="j">จำนวนคนที่มาเข้าใช้งาน</div>
          </div>
          <b-form-input
            class="ms-auto"
            v-model="text"
            style="width: 500px"
            placeholder="จำนวนคน"
          ></b-form-input>
        </b-col>
      </b-row>
    </b-container>
    <!--  -->
    <div class="m-3 ml-3">
      <div>อุปกรณ์เพิ่มเติม</div>
    </div>
    <b-container fluid>
      <b-row class="my-1" v-for="type in types" :key="type">
        <b-col sm="3">
          <label :for="`type-${type}`"
            ><code>{{ type }}</code
            >:</label
          >
        </b-col>
        <b-col sm="9">
          <b-form-input :id="`type-${type}`" :type="type"></b-form-input>
        </b-col>
      </b-row>
    </b-container>
    <div>
      <b-button  variant="danger">Clear</b-button>
      <b-button  variant="success">Ok</b-button>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      selected: null,
      options: [
        { value: null, text: 'Chosen Room' },
        { value: 'room1', text: 'room1' },
        { value: 'room2', text: 'room2' },
        { value: 'room3', text: 'room3' },
        { value: 'room4', text: 'room4' },
        { value: 'room5', text: 'room5' },
        { value: 'room6', text: 'room6' }
      ],
      selected2: null,
      options2: [
        { value: null, text: 'Chosen Type Room' },
        { value: 'LargeRoom', text: 'LargeRoom' },
        { value: 'MeduimRoom', text: 'MeduimRoom' },
        { value: 'SmallRoom', text: 'SmallRoom' }
      ],
      selected3: null,
      options3: [
        { value: null, text: 'Time Begin' },
        { value: '09:00:00', text: '09:00:00' },
        { value: '10:00:00', text: '10:00:00' },
        { value: '11:00:00', text: '11:00:00' },
        { value: '12:00:00', text: '12:00:00' },
        { value: '13:00:00', text: '13:00:00' },
        { value: '14:00:00', text: '14:00:00' },
        { value: '15:00:00', text: '15:00:00' },
        { value: '16:00:00', text: '16:00:00' },
        { value: '17:00:00', text: '17:00:00' }
      ],
      selected4: null,
      options4: [
        { value: null, text: 'Time End' },
        { value: '09:00:00', text: '09:00:00' },
        { value: '10:00:00', text: '10:00:00' },
        { value: '11:00:00', text: '11:00:00' },
        { value: '12:00:00', text: '12:00:00' },
        { value: '13:00:00', text: '13:00:00' },
        { value: '14:00:00', text: '14:00:00' },
        { value: '15:00:00', text: '15:00:00' },
        { value: '16:00:00', text: '16:00:00' },
        { value: '17:00:00', text: '17:00:00' }
      ],
      text: '',
      types: [
        'ไมค์',
        'ปลั๊กไฟ',
        'ปากกาเมจิก',
        'Projecter',
        'ปลั๊ก3ตา',
        'ไมค์ไร้สาย',
        'ลำโพง',
        'พัดลม'
      ]
      //     value: null,
      //     value1: null
      //   }
      // },
      // methods: {
      //   setNow () {
      //     const now = new Date()
      //     // Grab the HH:mm:ss part of the time string
      //     this.value = now.toTimeString().slice(0, 8)
      //   },
      //   setNow1 () {
      //     const now = new Date()
      //     // Grab the HH:mm:ss part of the time string
      //     this.value1 = now.toTimeString().slice(0, 8)
      //   },
      //   clearTime () {
      //     this.value = ''
      //   },
      //   clearTime1 () {
      //     this.value1 = ''
      //   }
      // }
    }
  }
}
</script>
<style>
.dropdown-left {
  background-color: bisque;
}
.j{
  text-align: left;
}

</style>
