<template>
  <div class="my-3 ml-3">
    <b-container fluid class="p-4 bg-dark">
      <b-row>
        <b-col>
          <b-img
            thumbnail
            fluid
            src="https://www.car.chula.ac.th/carweb1/upload/a1_139.jpg"
            alt="Image 1"
          ></b-img>
        </b-col>
        <b-col>
          <b-img
            thumbnail
            fluid
            src="http://2.bp.blogspot.com/-12zXtTwm2XE/UeJCiqyNXVI/AAAAAAAAAnc/zX1RHk5OEeg/s1600/$RDIYIB7.JPG"
            alt="Image 2"
          ></b-img>
        </b-col>
        <b-col>
          <b-img
            thumbnail
            fluid
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWOlY7E_AvmgnJVN8lqEPJ72pmRwlwZybOm87A7-816RJL0GFbHMHP11_ngvPBRJ3i9x4&usqp=CAU"
            alt="Image 3"
          ></b-img>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
export default {
  methods: {
    linkGen (pageNum) {
      return pageNum === 1 ? '?' : `?page=${pageNum}`
    }
  }
}
</script>
<style></style>
