<template >
    <div>
         <img style="padding: 100px;" src="https://1.bp.blogspot.com/-E5c424n2v4U/WDgHjDuWADI/AAAAAAAD2oo/eVQ-eosE0CYM0oDp1RRQkyGl0CaEyTAdQCLcB/s1600/AS001326_12.gif" alt="">
    </div>
</template>
<script>
export default {

}
</script>
<style>
</style>
