<template>
  <b-container>
    <b-row align-h="center">
      <b-col cols="3">
        <b-card
          title="Register"
          img-src="https://www.nueaklong.go.th/2020/wp-content/uploads/2019/12/register-button.jpg"
          img-alt="Image"
          img-top
          tag="article"
          style="max-width: 20rem"
          class="mb-2"
        >
          <b-card-text>
            <div style="text-align: justify">
              <b-form @submit="onSubmit" @reset="onReset" v-if="show">
                <b-form-group
                  id="input-group-1"
                  label="First Name:"
                  label-for="input-1"
                >
                  <b-form-input
                    id="input-1"
                    v-model="form.firstname"
                    type="firstname"
                    placeholder=""
                    required
                  ></b-form-input>
                </b-form-group>

                <b-form-group
                  id="input-group-2"
                  label="Last Name:"
                  label-for="input-2"
                >
                  <b-form-input
                    id="input-2"
                    v-model="form.lastname"
                    type="lastname"
                    placeholder=""
                    required
                  ></b-form-input>
                </b-form-group>

                <b-form-group
                  id="input-group-3"
                  label="Email:"
                  label-for="input-3"
                >
                  <b-form-input
                    id="input-3"
                    v-model="form.email"
                    type="email"
                    placeholder=""
                    required
                  ></b-form-input>
                </b-form-group>

                <b-form-group
                  id="input-group-4"
                  label="Status:"
                  label-for="input-4"
                >
                  <b-form-select
                    id="input-4"
                    v-model="form.status"
                    :options="statuss"
                    placeholder=""
                    required
                  ></b-form-select>
                </b-form-group>

                <b-form-group
                  id="input-group-5"
                  label="Password:"
                  label-for="input-5"
                >
                  <b-form-input
                    id="input-5"
                    v-model="form.password"
                    type="password"
                    placeholder=""
                    required
                  ></b-form-input>
                </b-form-group>

                <b-form-group
                  id="input-group-6"
                  label="Confirmed Password:"
                  label-for="input-6"
                >
                  <b-form-input
                    id="input-6"
                    v-model="form.cfpassword"
                    type="password"
                    placeholder=""
                    required
                  ></b-form-input>
                </b-form-group>

                <b-form-checkbox
                  id="checkbox-1"
                  v-model="form.check"
                  name="checkbox-1"
                  value="accepted"
                >
                  I accept the <a href="">terms and use</a>
                </b-form-checkbox>
                <br>

                <b-button type="submit" variant="primary" class="mx-2"
                  >Save</b-button
                >
                <b-button type="reset" variant="danger">Reset</b-button>
              </b-form>
            </div>
          </b-card-text>
        </b-card>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>

export default {
  data () {
    return {
      form: {
        firstname: '',
        lastname: '',
        email: '',
        password: '',
        cfpassword: '',
        check: '',
        status: null
      },
      statuss: [
        { text: 'Select One', value: null },
        'อาจารย์',
        'นักศึกษา',
        'บุคคลทั่วไป'
      ],
      show: true
    }
  },
  methods: {
    onSubmit (event) {
      event.preventDefault()
      alert(JSON.stringify(this.form))
      this.form.email = ''
      this.form.password = ''
      this.form.firstname = ''
      this.form.lastname = ''
      this.form.check = ''
      this.form.cfpassword = ''
      this.form.status = null
    },
    onReset (event) {
      event.preventDefault()
      // Reset our form values
      this.form.email = ''
      this.form.password = ''
      this.form.firstname = ''
      this.form.lastname = ''
      this.form.check = ''
      this.form.cfpassword = ''
      this.form.status = null

      // Trick to reset/clear native browser form validation state
      this.show = false
      this.$nextTick(() => {
        this.show = true
      })
    }
  }
}
</script>
