<template>
  <div>
    <b-container fluid>
      <b-row>
        <b-col class="text-right">
          <BuildingForm
            :product="selectedItem"
            ref="BuildingForm"
            @save="saveBuilding"
          ></BuildingForm>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-table :items="buildingItems" :fields="fields">
            <template #cell(operators)="{ item }">
              <b-button @click="editBuilding(item)">Edit</b-button
              ><b-button
                class="mx-2"
                variant="danger"
                @click="deleteBuilding(item)"
                >Delete</b-button
              >
            </template>
          </b-table>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
import BuildingForm from './BuildingForm.vue'
import axios from 'axios'
export default {
  components: {
    BuildingForm
  },
  methods: {
    saveBuilding (product) {
      console.log('Submit', product)
      if (product._id === '') { // add new
        axios.post('http://localhost:3000/building', product).then(
          function (response) {
            this.getBuildingsinform()
          }.bind(this))
      } else { // update
        axios.put('http://localhost:3000/building/' + product._id, product).then(
          function (response) {
            this.getBuildingsinform()
          }.bind(this))
      }
    },
    editBuilding (item) {
      this.selectedItem = JSON.parse(JSON.stringify(item))
      this.$nextTick(() => {
        this.$refs.BuildingForm.show()
      })
    },
    deleteBuilding (product) {
      if (confirm(`คุณต้องการลบตึก ${product.name} หรือไม่`)) {
        axios.delete('http://localhost:3000/building/' + product._id).then(
          function (response) {
            this.getBuildingsinform()
          }.bind(this))
      }
    },
    getBuildingsinform () {
      axios.get('http://localhost:3000/building').then(function (response) {
        console.log(response)
        this.buildingItems = response.data
      }.bind(this))
    }
  },
  data () {
    return {
      fields: [
        { key: 'name', label: 'ชื่อตึก' },
        { key: 'description', label: 'คำอธิบาย' },
        { key: 'capacity', label: 'จำนวนห้อง' },
        { key: 'operators', label: 'กระบวนการ' }
      ],
      buildingItems: [
      ],
      selectedItem: null
    }
  },
  mounted () {
    this.getBuildingsinform()
  }
}
</script>
<style></style>
