<template>
  <div>
    <p>
    <b-button @click="addNew" variant="warning" size="lg">เพิ่มตึก</b-button>
    </p>
    <b-modal
      id="modal-building"
      ref="modalBuilding"
      title="ตึก"
      @show="showModal"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <b-form @submit.stop.prevent="submit" @reset.stop. prevent="reset">
        <b-form-group
          id="form-group-building-name"
          label="ชื่อตึก"
          label-for="building-name"
        >
          <b-form-input
            type="text"
            id="building-name"
            placeholder="ชื่อตึก"
            v-model="form.name"
            :state="validateName"
            autofocus
          >
          </b-form-input>
          <b-form-invalid-feedback :state="validateName">
            ชื่อตึกต้องมีความยาวอย่างน้อย 3 ตัวอักษร
          </b-form-invalid-feedback>
        </b-form-group>
        <b-form-group
          id="form-group-building-description"
          label="คำอธิบาย"
          label-for="building-description"
        >
          <b-form-input
            type="text"
            id="building-description"
            placeholder="คำอธิบาย"
            v-model="form.description"
            :state="validateDescription"
            autofocus
          >
          </b-form-input>
          <b-form-invalid-feedback :state="validateDescription">
            คำอธิบายต้องมีความยาวอย่างน้อย 3 ตัวอักษร
          </b-form-invalid-feedback>
        </b-form-group>
        <b-form-group
          id="form-group-building-capacity"
          label="จำนวนห้อง"
          label-for="building-capacity"
        >
          <b-form-input
            type="number"
            id="building-capacity"
            placeholder="จำนวนห้อง"
            v-model="form.capacity"
            :state="validateCapacity"
          >
          </b-form-input>
          <b-form-invalid-feedback :state="validateCapacity">
            จำนวนห้องต้องไม่น้อยกว่าหรือเท่ากับ 0
          </b-form-invalid-feedback>
        </b-form-group>
      </b-form>
    </b-modal>
  </div>
</template>
<script>
export default {
  props: {
    product: {
      type: Object
    }
  },
  data () {
    return {
      form: {
        _id: '',
        name: '',
        description: '',
        capacity: 0
      },
      isAddNew: false
    }
  },
  computed: {
    validateName () {
      return this.form.name.length >= 3
    },

    validateDescription () {
      return this.form.description.length >= 3
    },
    validateCapacity () {
      return this.form.capacity !== '' && this.form.capacity >= 0
    },
    validateForm () {
      return this.validateName && this.validateDescription && this.validateCapacity
    }
  },
  methods: {
    addNew () {
      this.isAddNew = true
      this.$nextTick(() => {
        this.show()
        this.isAddNew = false
      })
    },
    show () {
      this.$refs.modalBuilding.show()
    },
    submit () {
      const product = JSON.parse(JSON.stringify(this.form))
      product.price = parseFloat(product.price)
      this.$emit('save', product)
      this.reset()
    },
    reset () {
      this.form = {
        _id: '',
        name: '',
        agency: '',
        description: '',
        capacity: 0
      }
    },
    showModal () {
      if (this.isAddNew) {
        this.reset()
      } else {
        this.form._id = this.product._id
        this.form.name = this.product.name
        this.form.description = this.product.description
        this.form.capacity = this.product.capacity
      }
    },
    resetModal (evt) {
      this.reset()
    },
    handleOk (evt) {
      evt.preventDefault()
      if (!this.validateForm) return
      this.submit()
      this.$nextTick(() => {
        this.$bvModal.hide('modal-building')
      })
    }
  }
}
</script>
<style>
  p{
    text-align: right;
  }
</style>
