<template>
  <div>
    <b-container fluid>
      <b-row>
        <b-col class="text-right">
          <RoomForm
            :room="selectedItem"
            ref="RoomForm"
            @save="saveRoom"
          ></RoomForm>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-table :items="roomItems" :fields="fields">
            <template #cell(operators)="{ item }">
              <b-button @click="editRoom(item)">แก้ไข</b-button
              ><b-button
                class="mx-2"
                variant="danger"
                @click="deleteRoom(item)"
                >ลบ</b-button
              >
            </template>
          </b-table>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
import RoomForm from './RoomForm.vue'
import axios from 'axios'
export default {
  components: {
    RoomForm
  },
  methods: {
    saveRoom (room) {
      console.log('Submit', room)
      if (room._id === '') { // add new
        axios.post('http://localhost:3000/room', room).then(
          function (response) {
            this.getRoom()
          }.bind(this))
      } else { // update
        axios.put('http://localhost:3000/room/' + room._id, room).then(
          function (response) {
            this.getRoom()
          }.bind(this))
      }
    },
    editRoom (item) {
      this.selectedItem = JSON.parse(JSON.stringify(item))
      this.$nextTick(() => {
        this.$refs.RoomForm.show()
      })
    },
    deleteRoom (room) {
      if (confirm(`คุณต้องการลบห้อง ${room.name} หรือไม่`)) {
        axios.delete('http://localhost:3000/room/' + room._id).then(
          function (response) {
            this.getRoom()
          }.bind(this))
      }
    },
    getRoom () {
      axios.get('http://localhost:3000/room').then(function (response) {
        console.log(response)
        this.roomItems = response.data
      }.bind(this))
    }
  },

  data () {
    return {
      fields: [
        { key: 'selected', label: 'ชื่อตึก' },
        { key: 'name', label: 'ชื่อห้อง' },
        { key: 'typeroom', label: 'ประเภทห้อง' },
        { key: 'capacity', label: 'ความจุ' },
        { key: 'reviewer', label: 'ผู้พิจารณา' },
        { key: 'operators', label: 'กระบวนการ' }
      ],
      roomItems: [

      ],

      selectedItem: null
    }
  },
  mounted () {
    this.getRoom()
  }
}
</script>
<style></style>
