<template>
  <div>
    <p>
    <b-button @click="addNew" variant="warning" size="lg">เพิ่มห้อง</b-button>
    </p>
    <b-modal
      id="modal-room"
      ref="modalRoom"
      title="ห้อง"
      @show="showModal"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <b-form @submit.stop.prevent="submit" @reset.stop. prevent="reset">
         <b-form-group
          id="form-group-room-nametown"
          label="ชื่อตึก"
          label-for="room-nametown"
        >
         <b-form-select v-model="form.selected"  :state="validateSelected" :options="options"></b-form-select>
          <div class="mt-3">Selected: <strong>{{ form.selected  }}</strong></div>
        </b-form-group>
        <b-form-group
          id="form-group-room-name"
          label="ชื่อห้อง"
          label-for="room-name"
        >
          <b-form-input
            type="text"
            id="room-name"
            placeholder="ชื่อห้อง"
            v-model="form.name"
            :state="validateName"
            autofocus
          >
          </b-form-input>
          <b-form-invalid-feedback :state="validateName">
            ชื่อห้องต้องมีความยาวอย่างน้อย 3 ตัวอักษร
          </b-form-invalid-feedback>
        </b-form-group>
        <b-form-group
          id="form-group-room-typeroom"
          label="ประเภทห้อง"
          label-for="room-typeroom"
        >
          <b-form-input
            type="text"
            id="room-typeroom"
            placeholder="ประเภทห้อง"
            v-model="form.typeroom"
            :state="validateTyperoom"
            autofocus
          >
          </b-form-input>
          <b-form-invalid-feedback :state="validateTyperoom">
            ชื่อต้องมีความยาวอย่างน้อย 3 ตัวอักษร
          </b-form-invalid-feedback>
        </b-form-group>
        <b-form-group
          id="form-group-room-capacity"
          label="ความจุ"
          label-for="room-capacity"
        >
          <b-form-input
            type="number"
            id="room-capacity"
            placeholder="ตวามจุ"
            v-model="form.capacity"
            :state="validateCapacity"
          >
          </b-form-input>
          <b-form-invalid-feedback :state="validateCapacity">
            ตวามจุต้องไม่น้อยกว่าหรือเท่ากับ 0
          </b-form-invalid-feedback>
          <b-form-group
          id="form-group-room-reviewer"
          label="ผู้พิจารณา"
          label-for="room-reviewer"
        >
          <b-form-input
            type="text"
            id="room-reviewer"
            placeholder="ผู้พิจารณา"
            v-model="form.reviewer"
            :state="validateReviewer"
            autofocus
          >
          </b-form-input>
          <b-form-invalid-feedback :state="validateReviewer">
            ชื่อต้องมีความยาวอย่างน้อย 3 ตัวอักษร
          </b-form-invalid-feedback>
        </b-form-group>
        </b-form-group>
      </b-form>
    </b-modal>
  </div>
</template>
<script>
export default {
  props: {
    room: {
      type: Object
    }
  },
  data () {
    return {
      selected: null,
      options: [
        { value: 'Informatic', text: 'Informatic' },
        { value: 'Library', text: 'Library' },
        { value: 'Sci', text: 'Sci' }
      ],
      form: {
        _id: '',
        selected: null,
        name: '',
        typeroom: '',
        capacity: 0,
        reviewer: ''
      },
      isAddNew: false
    }
  },
  computed: {
    validateName () {
      return this.form.name.length >= 3
    },
    validateSelected () {
      return this.form.selected != null
    },
    validateTyperoom () {
      return this.form.typeroom.length >= 3
    },
    validateCapacity () {
      return this.form.capacity !== '' && this.form.capacity >= 0
    },
    validateReviewer () {
      return this.form.reviewer.length >= 3
    },
    validateForm () {
      return this.validateName && this.validateSelected && this.validateTyperoom && this.validateCapacity && this.validateReviewer
    }
  },
  methods: {
    addNew () {
      this.isAddNew = true
      this.$nextTick(() => {
        this.show()
        this.isAddNew = false
      })
    },
    show () {
      this.$refs.modalRoom.show()
    },
    submit () {
      const room = JSON.parse(JSON.stringify(this.form))
      room.price = parseFloat(room.price)
      this.$emit('save', room)
      this.reset()
    },
    reset () {
      this.form = {
        _id: '',
        name: '',
        selected: null,
        typeroom: '',
        capacity: 0,
        reviewer: ''
      }
    },
    showModal () {
      if (this.isAddNew) {
        this.reset()
      } else {
        this.form._id = this.room._id
        this.form.name = this.room.name
        this.form.selected = this.room.selected
        this.form.typeroom = this.room.typeroom
        this.form.capacity = this.room.capacity
        this.form.reviewer = this.room.reviewer
      }
    },
    resetModal (evt) {
      this.reset()
    },
    handleOk (evt) {
      evt.preventDefault()
      if (!this.validateForm) return
      this.submit()
      this.$nextTick(() => {
        this.$bvModal.hide('modal-room')
      })
    }
  }
}
</script>
<style>
  p{
    text-align: right;
  }
</style>
