<template>
  <div>
    <p>
    <b-button @click="addNew" variant="warning" size="lg">เพิ่มบัญชี</b-button>
    </p>
    <b-modal
      id="modal-user"
      ref="modalUser"
      title="บัญชีผู้ใช้"
      @show="showModal"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <b-form @submit.stop.prevent="submit" @reset.stop. prevent="reset">
        <b-form-group
          id="form-group-user-name"
          label="ชื่อ"
          label-for="user-name"
        >
          <b-form-input
            type="text"
            id="user-name"
            placeholder="ชื่อ"
            v-model="form.name"
            :state="validateName"
            autofocus
          >
          </b-form-input>
          <b-form-invalid-feedback :state="validateName">
            ชื่อต้องมีความยาวอย่างน้อย 3 ตัวอักษร
          </b-form-invalid-feedback>
        </b-form-group>
          <b-form-group
          id="form-group-user-lastname"
          label="นามสกุล"
          label-for="user-lastname"
        >
          <b-form-input
            type="text"
            id="user-lastname"
            placeholder="นามสกุล"
            v-model="form.lastname"
            :state="validateLastname"
            autofocus
          >
          </b-form-input>
          <b-form-invalid-feedback :state="validateLastname">
            นามสกุลมีความยาวอย่างน้อย 3 ตัวอักษร
          </b-form-invalid-feedback>
        </b-form-group>
        <b-form-group
          id="form-group-user-account"
          label="บัญชีผู้ใช้"
          label-for="user-account"
        >
          <b-form-input
            type="email"
            id="input-1"
            placeholder="บัญชีผู้ใช้"
            v-model="form.account"
            :state="validateAccount"
            autofocus
          >
          </b-form-input>
          <b-form-invalid-feedback :state="validateAccount">
            บัญชีผู้ใช้ต้องมีความยาวอย่างน้อย 3 ตัวอักษร
          </b-form-invalid-feedback>
        </b-form-group>
        <b-form-group
          id="form-group-user-status"
          label="สถานะ"
          label-for="user-status"
        >
          <b-form-input
            type="text"
            id="user-status"
            placeholder="สถานะ"
            v-model="form.status"
            :state="validateStatus"
          >
          </b-form-input>
          <b-form-invalid-feedback :state="validateStatus">
            สถานะต้องมีความยาวอย่างน้อย 3 ตัวอักษร
          </b-form-invalid-feedback>
        </b-form-group>
      </b-form>
    </b-modal>
  </div>
</template>
<script>
export default {
  props: {
    user: {
      type: Object
    }
  },
  data () {
    return {
      form: {
        _id: '',
        name: '',
        lastname: '',
        account: '',
        status: ''
      },
      isAddNew: false
    }
  },
  computed: {
    validateName () {
      return this.form.name.length >= 3
    },
    validateLastname () {
      return this.form.lastname.length >= 3
    },
    validateAccount () {
      return this.form.account.length >= 3
    },
    validateStatus () {
      return this.form.status.length >= 0
    },
    validateForm () {
      return this.validateName && this.validateLastname && this.validateAccount && this.validateStatus
    }
  },
  methods: {
    addNew () {
      this.isAddNew = true
      this.$nextTick(() => {
        this.show()
        this.isAddNew = false
      })
    },
    show () {
      this.$refs.modalUser.show()
    },
    submit () {
      const user = JSON.parse(JSON.stringify(this.form))
      user.price = parseFloat(user.price)
      this.$emit('save', user)
      this.reset()
    },
    reset () {
      this.form = {
        _id: '',
        name: '',
        lastname: '',
        account: '',
        status: ''
      }
    },
    showModal () {
      if (this.isAddNew) {
        this.reset()
      } else {
        this.form._id = this.user._id
        this.form.name = this.user.name
        this.form.lastname = this.user.lastname
        this.form.account = this.user.account
        this.form.status = this.user.status
      }
    },
    resetModal (evt) {
      this.reset()
    },
    handleOk (evt) {
      evt.preventDefault()
      if (!this.validateForm) return
      this.submit()
      this.$nextTick(() => {
        this.$bvModal.hide('modal-user')
      })
    }
  }
}
</script>
<style>
  p{
    text-align: right;
  }
</style>
