<template>
  <div>
    <b-container fluid>
      <b-row>
        <b-col class="text-right">
          <UserForm
            :user="selectedItem"
            ref="UserForm"
            @save="saveUser"
          ></UserForm>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-table :items="userItems" :fields="fields">
            <template #cell(operators)="{ item }">
              <b-button @click="editUser(item)">Edit</b-button
              ><b-button
                class="mx-2"
                variant="danger"
                @click="deleteUser(item)"
                >Delete</b-button
              >
            </template>
          </b-table>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
import UserForm from './UserForm.vue'
import axios from 'axios'
export default {
  components: {
    UserForm
  },
  methods: {
    saveUser (product) {
      console.log('Submit', product)
      if (product._id === '') { // add new
        axios.post('http://localhost:3000/user', product).then(
          function (response) {
            this.getUser()
          }.bind(this))
      } else { // update
        axios.put('http://localhost:3000/user/' + product._id, product).then(
          function (response) {
            this.getUser()
          }.bind(this))
      }
    },
    editUser (item) {
      this.selectedItem = JSON.parse(JSON.stringify(item))
      this.$nextTick(() => {
        this.$refs.UserForm.show()
      })
    },
    deleteUser (product) {
      if (confirm(`คุณต้องการลบห้อง ${product.name} หรือไม่`)) {
        axios.delete('http://localhost:3000/user/' + product._id).then(
          function (response) {
            this.getUser()
          }.bind(this))
      }
    },
    getUser () {
      axios.get('http://localhost:3000/user').then(function (response) {
        console.log(response)
        this.userItems = response.data
      }.bind(this))
    }
  },

  data () {
    return {
      fields: [
        { key: 'name', label: 'ชื่อ' },
        { key: 'lastname', label: 'นามสกุล' },
        { key: 'account', label: 'บัญชีผู้ใช้' },
        { key: 'status', label: 'สถานะ' },
        { key: 'operators', label: 'กระบวนการ' }
      ],
      userItems: [

      ],
      selectedItem: null
    }
  },
  mounted () {
    this.getUser()
  }

}
</script>
<style></style>
