<template>
  <div class="app-menu min-vh-100">
    <b-img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Buu-logo11.png/600px-Buu-logo11.png"
      center
      class="pt-2 pb-2"
      width="100%"
    ></b-img>
    <b-nav vertical class="l">
      <b-nav-item to="Mainmenu">Mainmenu</b-nav-item>
      <b-nav-item to="Home">Home</b-nav-item>
      <b-nav-item @click="showFormInput = !showFormInput"
        >Booklist<b-icon
          :icon="showFormInput ? 'caret-down-fill' : 'caret-right-fill'"
        ></b-icon
      ></b-nav-item>
      <b-nav-item class="sub-menu" v-if="showFormInput" to="FormInput1"
        >Input1</b-nav-item
      >
      <b-nav-item class="sub-menu" v-if="showFormInput" to="FormInput2"
        >Input2</b-nav-item
      >
      <b-nav-item to="calendar">Calendar</b-nav-item>
      <b-nav-item to="RoomTable">จัดการข้อมูลห้อง</b-nav-item>
      <b-nav-item to="BuildingTable">จัดการข้อมูลตึก</b-nav-item>
      <b-nav-item to="UserTable">จัดการบัญชีผู้ใช้</b-nav-item>
    </b-nav>
  </div>
</template>
<script>
export default {
  data () {
    return {
      showFormInput: false
    }
  }
}
</script>
<style>
.app-menu {
  background-color: #55575c;
  text-align: center;
}
.nav-link {
  color: white;
  text-align: left;
}
.nav-link:hover {
 color: gold;
}
.sub-menu {
  padding-left: 10pt;
}
</style>
