<template>
  <div>
    <b-navbar>

      <!-- Right aligned nav items -->
      <b-navbar-nav class="ms-auto">

        <b-nav-item-dropdown right>
          <!-- Using 'button-content' slot -->
          <template #button-content>
            <em>User</em>
          </template>
          <b-dropdown-item href="login">Log In</b-dropdown-item>
          <b-dropdown-item href="/">Log Out</b-dropdown-item>
        </b-nav-item-dropdown>
      </b-navbar-nav>
    </b-navbar>
  </div>
</template>
<script>
export default {}
</script>
<style>

</style>
